.van-nav-bar {
  height: 0.92rem;
  line-height: 0.92rem;
  color: #fff;
  font-size: 0.12rem;
  background-color: #000;
  max-width: 7.5rem;
  margin: 0 auto;
}
.van-nav-bar--fixed {
  right: 0;
}
.van-nav-bar .van-icon,
.van-nav-bar__text {
  color: #fff;
}
.van-button {
  color: #fff;
  border: 1px solid #169bd5;
  background-color: #169bd5;
}

.van-button--disabled {
  color: #999;
  background-color: #e5e5e5;
  border: 1px solid #ccc;
}
